[submodule "include/mope_vec"]
	path = include/mope_vec
	url = git@github.com:mope-life/mope_vec
[submodule "examples/glfw_game_window/external/glfw"]
	path = examples/glfw_game_window/external/glfw
	url = git@github.com:glfw/glfw
[submodule "external/freetype"]
	path = external/freetype
	url = git@github.com:freetype/freetype.git
