name: Check Ubuntu compilation
run-name: Making sure this PR compiles using latest Ubuntu LTS
on:
  pull_request:
    types:
      - opened
    branches:
      - main

jobs:
  check-compilation:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
      - run: |
          cmake --preset ninja-multi-config
          cmake --build --preset debug
